
html {
    background: rgba(0, 0, 0, 0.26) url("http://loremflickr.com/g/1366/768/all") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    padding: 30px;
}

.indigo.lighten-5 {
    background-color: rgba(232, 234, 246, 0.73) !important;
}

.container {
    margin-top: 10%;
}

#entering {
    margin-top: -20px;
}

#entering h4 {
    font-weight: 300;
}

#entering form {
    color: black;
    margin-top: 30px;
    margin-left: 30px;
}

#entering form button {
    font-weight: 800;
    color: rgba(0, 0, 0, 0.81);
    background: rgba(39, 39, 39, 0.71);
}

#about {
    margin-right: 50px;
    margin-top: 50px;
}

input[type] {
    padding: 2px;
    padding-left: 10px;
    font-size: 160%;
    height: auto;
    margin-left: -10px;
    background: rgba(0, 0, 0, .5);
}

input[type]:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.73) !important;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.35) !important;
}

::-webkit-input-placeholder{
    font-weight: 100;
    color: rgba(255, 255, 255, 0.42);
}

::-moz-placeholder {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.42);
}


@media only screen and (max-width: 600px) {
    .container {
        margin-top: 5%;
    }

    #entering {
        margin-top: 20px;
    }

    #entering form {
        margin-top: 10px;
    }
    #entering h4{
        font-size: 25px;
    }
}